window {
    -moz-binding: url(chrome://buzzbird/content/unified.xml#unified) !important
}

#main-window:not([active="true"]) > #toolbarid,#statusbarid {
  background-image: url("chrome://buzzbird/content/images/toolbar-background-inactive.png");
}

#main-window > #toolbarid,#statusbarid {
  background-image: url("chrome://buzzbird/content/images/toolbar-background.gif");
}

statusbarpanel {
    border-style: none;
    border: 0px;
}

/* why doesn't this work?  :( */
	
tab {
	font-size:5px;
}

tabbox { 
	height: 12px;
	padding: 3px;
	background-image: url("chrome://buzzbird/content/images/toolbar-background.gif");
}

.tab-text {
	font-size:10px;
}