<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleExecutable</key>
		<string>xulrunner</string>
		<key>NSAppleScriptEnabled</key>
		<true/>
		<key>CFBundleGetInfoString</key>
		<string>Buzzbird 0.5</string>
		<key>CFBundleName</key>
		<string>Buzzbird</string>
		<key>CFBundleIdentifier</key>
        <string>org.buzzbird.buzzbird</string>
		<key>CFBundleShortVersionString</key>
		<string>0.5</string>
		<key>CFBundleVersion</key>
		<string>0.5.20091201</string>
		<key>CFBundleIconFile</key>
		<string>buzzbird.icns</string>
		<key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>BUZZ</string>
	</dict>
</plist>
