
statusbarpanel {
    border-style: none;
    border: 0px;
}

/*
#toolbarid,
window > toolbox:nth-of-type(1) > toolbar:nth-of-type(1) {
  -moz-appearance: -moz-mac-unified-toolbar;
}
*/

toolbar {
  min-width: 1px;
  min-height: 20px !important;
  -moz-appearance: toolbar;
}

#accountbuttonid, #filterbuttonid {
 font-size:0.9em;
}
