
body {
	background-color: #DDD;
}

.directToBottomRow {
	clear: both;
	height:18px;
	overflow: hidden;
	width:99%;
}

.directToBox {
	width:100%;
}

.directToText {
	padding:0;
	margin:-1;
	min-height:52px;
	color: #444;
}

.directToTable {
	border-spacing:0px;
	margin:0;
	padding:0;
	border-collapse:collapse;
	width:100%;
}

.directToText p {
	padding:0;
	margin:0;
	min-height:52px;
	color: #444;
}

.directToMessage {
	-moz-border-radius: 4px;
	-moz-box-shadow: #111 0px 1px 3px 1px;
	background-color:#f5f0bc;
	margin:5px;
	padding:0;
}

.directToAvatar {
	-moz-border-radius: 4px;
	-moz-box-shadow: #999 0px 1px 1px 1px;
	float:left;
	height:40px;
	margin:5px 5px 5px 10px;
	padding:0px;
	width:40px;
}

.directToAvatarColumn {
	width:40px;
}

.directToTextColumn {
	
}

.directToScreenName {
	color:#222;	
	font-size:11px;
	font-family: 'Lucida Sans', Helvetica,  Arial, sans-serif;
	font-weight:bold;
}

.directToContent {
	color:#444;	
	font-size:11px;
	font-family: 'Lucida Sans', Helvetica,  Arial, sans-serif;
	font-weight:normal;	
	padding-right:8px;
}

.directToContent a {
	color:#22A;
	text-decoration: underline;
}

.directToReplyTo a {
	color:#222;	
	font-size:10px;
	font-family: 'Lucida Sans', Helvetica,  Arial, sans-serif;
	font-weight:normal;	
	padding-right:8px;
	color:#88A;
	text-decoration: none;
}

a:hover.directToInfo {
	border-width: 2px;
	color: #22A;	
	clear:none;
	cursor: pointer;
	font-size: 10px;
	height: 16px;
	margin-left:5px;	
	min-height: 16px;
	display:inline-block;
	vertical-align:middle;
}

a.directToInfo {
	clear:none;
	color: #666;	
	font-size: 10px;
	height: 16px;
	margin-left:5px;	
	min-height: 16px;
	display:inline-block;
	vertical-align:middle;
}

.directToInfo {
	clear:none;
	color: #444;
	font-size: 10px;
	font-family: 'Lucida Sans', Helvetica,  Arial, sans-serif;	
	height:16px;
	margin-left:5px;	
	min-height: 16px;
	display:inline-block;
	vertical-align:middle;
}

.directToVia {
	clear:none;
	color: #444;
	font-size: 10px;
	font-family: 'Lucida Sans', Helvetica,  Arial, sans-serif;	
	height:16px;
	display:inline-block;
	vertical-align:middle;
}

.directToIcon {
	background-color: #f5f0bc;	
	margin:0 2px 0 2px;
	padding:0;
	position:relative;
	top:-2px;
}
