
statusbarpanel {
    border-style: none;
    border: 0px;
}

#toolbarid,
window > toolbox:nth-of-type(1) > toolbar:nth-of-type(1) {
  -moz-appearance: -moz-mac-unified-toolbar;
}

toolbar {
  min-width: 1px;
  min-height: 20px !important;
  -moz-appearance: toolbar;
}

#speechheaderid {
	border:1px solid #515151;
	background-color:#666; 
	background-image:url(chrome://buzzbird/skin/images/speech-toolbar-background.png);
	background-repeat:repeat-x;
	color:#fff;
	height:24px;
	margin-left:4px;
	margin-right:4px;
	padding:0 4px 0 4px;
}

#postbuttonid {
	border:1px solid #515151;
	background-color:#ccc;
  background-image:url(chrome://buzzbird/skin/images/post-button-background.png);
	border-color:#111;
	color:#eee;
	margin:3px 4px 3px 4px;
	width:50px; 
	padding:0px;
	-moz-border-radius: 15px;
	font-family:"Lucida Grande";
	font-size:11px;
	font-weight:bold;
}

#statusid {
 	color:#eee;
  margin-top:6px;	
}

.post-toolbar-button {
}

#textboxid {
	margin-top:0px;
	overflow:auto;
}

#accountbuttonid, #filterbuttonid, #listbuttonid {
 font-size:0.9em;
}




/* experimental tab junk */
tabbox {
	margin:0 !important;
	padding:0 !important;
}
tabpanels {
    -moz-appearance: tabpanels;
		margin:0 !important;
		padding:0;
}
tabpanel {
	margin:0 !important;
	padding:0;
}
tabs {
    -moz-box-align: center;
    font: menu;
}
tabbox > tabs {
    margin-bottom: -12px;
    padding: 0 10px;
    position: relative;
}
tab {
    -moz-appearance: tab;
}
tab:focus {
    position: relative;
}
tab:first-of-type {
    -moz-padding-start: 2px;
}
tab:last-of-type {
    -moz-padding-end: 2px;
}
.tab-middle {
    padding: 1px 6px 2px;
}
.tabs-left, .tabs-right {
    -moz-box-flex: 1;
}
tabbox.tabs-bottom > tabpanels {
    padding: 10px;
}
tabbox.tabs-bottom > tabs, tabs.tabs-bottom {
    -moz-border-top-colors: #888888 rgba(0, 0, 0, 0.08);
    -moz-box-align: start;
    background-color: rgba(0, 0, 0, 0.1);
    border-top: 2px solid;
    font: message-box;
    margin: 0;
    padding: 0;
}
tabbox.tabs-bottom > tabs > .tabs-left, tabs.tabs-bottom > .tabs-left {
    -moz-box-flex: 0;
}
tabbox.tabs-bottom > tabs > tab, tabs.tabs-bottom > tab {
    -moz-appearance: none;
    -moz-border-end: 1px solid rgba(0, 0, 0, 0.19);
    margin: -1px 0 0;
    padding: 0 0 2px;
    position: relative;
}
tabbox.tabs-bottom > tabs > tab > .tab-middle, tabs.tabs-bottom > tab > .tab-middle {
    padding: 1px 2px 0;
}
tabbox.tabs-bottom > tabs > tab:hover:not([selected="true"]), tabs.tabs-bottom > tab:hover:not([selected="true"]) {
    -moz-border-end-color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}
tabbox.tabs-bottom > tabs > tab[selected="true"], tabs.tabs-bottom > tab[selected="true"] {
    -moz-border-bottom-colors: rgba(0, 0, 0, 0.08) #888888;
    -moz-border-left-colors: rgba(0, 0, 0, 0.08) #888888;
    -moz-border-radius: 2px 2px 2px 2px;
    -moz-border-right-colors: rgba(0, 0, 0, 0.08) #888888;
    -moz-margin-end: -1px;
    border-color: #888888;
    border-style: solid;
    border-width: 0 2px 2px;
    margin-bottom: 1px;
    margin-top: -2px;
    padding: 0;
}
tabbox.tabs-bottom > tabs > tab[beforeselected="true"], tabs.tabs-bottom > tab[beforeselected="true"] {
    -moz-border-end-color: transparent;
    -moz-margin-end: -2px;
}
tabbox.tabs-bottom > tabs > tab:first-of-type:not([selected="true"]), tabs.tabs-bottom > tab:first-of-type:not([selected="true"]) {
    -moz-border-start: 4px solid transparent;
}
tabbox.tabs-bottom > tabs > tab[selected="true"]:first-of-type, tabs.tabs-bottom > tab[selected="true"]:first-of-type {
    -moz-margin-start: 2px;
}
tabbox.tabs-bottom, tabbox.tabs-bottom > tabpanels, tabbox.tabs-bottom > tabs > tab[selected="true"] > .tab-middle, tabs.tabs-bottom > tab[selected="true"] > .tab-middle {
    -moz-appearance: dialog;
}	

