
statusbarpanel {
    border-style: none;
    border: 0px;
}

#toolbarid,
window > toolbox:nth-of-type(1) > toolbar:nth-of-type(1) {
  -moz-appearance: -moz-mac-unified-toolbar;
}

toolbar {
  min-width: 1px;
  min-height: 20px !important;
  -moz-appearance: toolbar;
}

#speechheaderid {
	border:1px solid #515151;
	background-color:#666; 
	background-image:url(chrome://buzzbird/skin/images/speech-toolbar-background.png);
	background-repeat:repeat-x;
	color:#fff;
	height:24px;
	margin-left:4px;
	margin-right:4px;
	padding:0 4px 0 4px;
}

#postbuttonid {
	border:1px solid #515151;
	background-color:#ccc;
    background-image:url(chrome://buzzbird/skin/images/post-button-background.png);
	border-color:#111;
	color:#eee;
	margin:3px 4px 3px 4px;
	width:50px; 
	padding:0px;
	-moz-border-radius: 15px;
	font-family:"Lucida Grande";
	font-size:11px;
	font-weight:bold;
}

.post-toolbar-button {
}

#textboxid {
	margin-top:0px;
	overflow:auto;
}

#accountbuttonid, #filterbuttonid {
 font-size:0.9em;
}
