
body {
	background-color: #DDD;
}

.mineBottomRow {
	clear: both;
	height:18px;
	overflow: hidden;
	width:99%;
}

.mineBox {
	width:100%;
}

.mineText {
	padding:0;
	margin:-1;
	min-height:52px;
	color: #445;
}

.mineTable {
	border-spacing:0px;
	margin:0;
	padding:0;
	border-collapse:collapse;
	width:100%;
}

.mineText p {
	padding:0;
	margin:0;
	min-height:52px;
	color: #445;
}

.mineMessage {
	-moz-border-radius: 4px;
	-moz-box-shadow: #111 0px 1px 3px 1px;
	background-color:#cddfea;
	margin:5px;
	padding:0;
}

.mineAvatar {
	-moz-border-radius: 4px;
	-moz-box-shadow: #999 0px 1px 1px 1px;
	float:left;
	height:40px;
	margin:5px 5px 5px 10px;
	padding:0px;
	width:40px;
}

.mineAvatarColumn {
	width:40px;
}

.mineTextColumn {
	
}

.mineScreenName {
	color:#222;	
	font-size:11px;
	font-family: 'Lucida Grande', Helvetica,  Arial, sans-serif;
	font-weight:bold;
}

.mineContent {
	color:#445;	
	font-size:11px;
	font-family: 'Lucida Grande', Helvetica,  Arial, sans-serif;
	font-weight:normal;	
	padding-right:8px;
}

.mineContent a {
	color:#22A;
	text-decoration: underline;
}

.mineReplyTo a {
	color:#222;	
	font-size:10px;
	font-family: 'Lucida Grande', Helvetica,  Arial, sans-serif;
	font-weight:normal;		
	padding-right:8px;
	color:#88A;
	text-decoration: none;
}

a:hover.mineInfo {
	border-width: 2px;
	color: #22A;	
	clear:none;
	cursor: pointer;
	font-size: 10px;
	height: 16px;
	margin-left:5px;	
	min-height: 16px;
	display:inline-block;
	vertical-align:middle;
}

a.mineInfo {
	clear:none;
	color: #666;	
	font-size: 10px;
	height: 16px;
	margin-left:5px;	
	min-height: 16px;
	display:inline-block;
	vertical-align:middle;
}

.mineInfo {
	clear:none;
	color: #666;
	font-size: 10px;
	font-family: 'Lucida Grande', Helvetica,  Arial, sans-serif;	
	height:16px;
	margin-left:5px;	
	min-height: 16px;
	display:inline-block;
	vertical-align:middle;
}

.mineVia {
	clear:none;
	color: #666;
	font-size: 10px;
	font-family: 'Lucida Grande', Helvetica,  Arial, sans-serif;	
	height:16px;
	display:inline-block;
	vertical-align:middle;
}

.mineIcon {
	background-color: #cddfea;	
	margin:0 2px 0 2px;
	padding:0;
	position:relative;
	top:-2px;
}
