#user-dialog {
	width:480px;
	height:500px;
}
	
#user_info {
	-moz-border-radius:4px;
	background-color:#666; 
	background-image:url(chrome://buzzbird/skin/images/user-info-background.png);
	background-repeat:repeat-x;
	background-position:top left;
	color:#fff;
	height:150px; 
	margin-bottom:15px;
	overflow:auto; 
	width:100%;
}

#avatar {
	-moz-border-radius: 4px;
	-moz-box-shadow: #222 0px 1px 1px 1px;
	height:64px;
	margin:16px;
	width:64px;
}

#avatar:hover {
	-moz-box-shadow: #cddfea 0px 1px 1px 1px;
	cursor:pointer;
}

#friendship {
	border:1px solid #515151;
	background-color:#ccc;
    background-image:url(chrome://buzzbird/skin/images/friendship-button-background.png);
	border-color:#111;
	color:#eee;
	margin:3px 4px 3px 4px;
	width:50px; 
	padding:0px;
	-moz-border-radius: 15px;
	font-size:11px;
	font-weight:bold;
}

#bio {
	color:#eee;
	background-color: transparent; 
	padding:15px;
}

#name_line {
	margin-top:10px;
}

#name {
	font-size:13px;
	text-shadow: 1px 1px 2px black;
}

#username {
	font-size:13px;
	font-weight:bold;
	color:#cddfea;
	text-shadow: 1px 1px 2px black;
}
#username:hover {
	cursor:pointer;
	text-decoration:underline;
}

#homepage {
	color:#cddfea;
}
#homepage:hover {
	cursor:pointer;
	text-decoration:underline;
}
