#!/usr/bin/make -f
export DEST_DIR=`pwd`
build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE)
	touch build-stamp

	mkdir -p debian/tmp/buzzbird/chrome/skin/classic
	cp -fr ./chrome/* debian/tmp/buzzbird/chrome
	cp -fr debian/tmp/buzzbird/chrome/skin/classic-linux/* debian/tmp/buzzbird/chrome/skin/classic
	cp debian/tmp/buzzbird/chrome/content/notifications/notify-linux.sh debian/tmp/buzzbird/chrome/content/notifications/notify.sh
	cp debian/tmp/buzzbird/chrome/content/js/notify/notify-linux.js debian/tmp/buzzbird/chrome/content/js/notify/notify.js
	rm -fr debian/tmp/buzzbird/chrome/skin/classic-*
	cp debian/tmp/buzzbird/chrome/content/platform/linux/* debian/tmp/buzzbird/chrome/content
	rm -fr debian/tmp/buzzbird/chrome/content/platform
	cp -fr ./defaults debian/tmp/buzzbird/
	cp application.ini debian/tmp/buzzbird/
	cp ./graphics/Buzzbird.png debian/tmp/buzzbird/buzzbird.png
	#sudo find ./debian/tmp/buzzbird/* -exec chgrp root {} \;
	#sudo find ./debian/tmp/buzzbird/* -exec chown root {} \;

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	#$(MAKE) clean
	#$(MAKE) distclean
	dh_clean

install:
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	#$(MAKE) prefix=`pwd`/debian/tmp/usr install

	mkdir -p debian/tmp/usr/bin
	ln -s /usr/bin/xulrunner-1.9.2 debian/tmp/usr/bin/buzzbird
	dh_install

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_installmenu -a
	dh_installman -a
	dh_strip -a
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
