
body {
	background-color: #DDD;
}

.tweetBottomRow {
	background: url('chrome://buzzbird/skin/images/direct-to/rc-bl.png') no-repeat bottom left;
	padding: 0px 0px 10px 10px;
	width:99%;
	height:20px;
	clear: both;
	overflow: hidden;
}

.tweetBox {
	width:100%;
}

.tweetText {
	background:url('chrome://buzzbird/skin/images/direct-to/rc-tr.png') no-repeat top right;
	padding:0;
	margin:-1;
	min-height:50px;
	color: #666;
}

.tweetTable {
	background: url('chrome://buzzbird/skin/images/direct-to/rc-tl.png') no-repeat top left;	
	border-spacing:0px;
	margin:0;
	padding:0;
	border-collapse:collapse;
	width:100%;
}

.tweetText p {
	padding:0;
	margin:0;
	min-height:50px;
	color: #666;
}

.tweetMessage {
	background: url('chrome://buzzbird/skin/images/direct-to/rc-br.png') no-repeat bottom right;
	margin:0;
	padding:0;
}

.tweetAvatar {
	float:left;
	margin:5px 5px 5px 10px;
	height:32px;
	width:32px;
}

.tweetAvatarColumn {
	width:32;
}

.tweetTextColumn {
	
}

.tweetScreenName {
	color:#222;	
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
}

.tweetContent {
	color:#222;	
	font-size:12px;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:normal;	
	padding-right:8px;
	color:#666;
}

.tweetContent a {
	color:#22A;
	text-decoration: underline;
}

a:hover.tweetInfo {
	color: #22A;	
	cursor: pointer;
	font-size: 1.0em;
	padding: 0px 0px 10px 0px;
	border-width: 2px;
	min-height: 22px;
	height: 22px;
}

a.tweetInfo {
	color: #666;	
	font-size: 1.0em;
	padding: 0px 0px 10px 0px;
	height: 22px;
}

.tweetInfo {
	color: #666;
	font-size: 0.6em;
	font-family: Helvetica, Arial, sans-serif;	
	padding: 0px 0px 20px 0px;
	height: 22px;
}





